@font-face {
    font-family: 'Tundra';
    src: url(), format('woff2') url(), format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}



body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.master {
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: white;
    width: 60%;
    height: 55%;
    box-shadow: 0px 0px 20px black;
}

.background {
    position: absolute;
    z-index: -1;
    background-color: #1aeab5;
    width: 38%;
    height: 100vh;
}

.company {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background-color: #1aeab5;
    position: relative;
    height: 100%;
    width: 30%;
}


.company * {
    position: relative;
    top: 40%;
    font-size: 4em;
    color: white;
}

.company div:nth-child(1) {
    padding: 1px;
    margin: 5px;
}

.company div:nth-child(2) {
    font-size: 1.5em;
    padding: 1px;
    width: 100%;
}
