@font-face {
    font-family: 'proxima-nova';
    src: url(../fonts/proxima_nova_font-webfont.woff2) format('woff2'), 
        url(../fonts/proxima_nova_font-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'circular';
    src: url(fonts/CircularWoff/CircularStd-Black.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}



body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.master {
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: white;
    width: 60%;
    height: 55%;
    box-shadow: 0px 0px 20px black;
}

.background {
    position: absolute;
    z-index: -1;
    background-color: #1aeab5;
    width: 38%;
    height: 100vh;
}

.company {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background-color: #1aeab5;
    position: relative;
    height: 100%;
    width: 30%;
    font-family: 'circular';
}

.logo {
    width: 90px;
    height: 100px;
}

.company * {
    position: relative;
    top: 40%;
    font-size: 4vw;
    color: white;
}

.company div:last-child {
    font-size: 1.7vw;
    width: 13vw;
}
